<div class="container">

    <div class="row justify-content-center">
        <div class="col-12 text-center">
            <img src="assets/logo.jpeg" alt="Logo" class="form-logo">
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <form [formGroup]="memberForm" (ngSubmit)="onSubmit()">
                <h3 class="text-center">Member Registration Form</h3>
                <div class="section form-container narrow-form text-start">
                    <div class="form-row">
                        <label class="form-label" for="gender">Please select:</label>
                        <select class="form-control" formControlName="gender" id="gender">
                            <option value="MALE">Male</option>
                            <option value="FEMALE">Female</option>
                        </select>
                    </div>

                    <div class="form-row">
                        <label class="form-label" for="firstName">First Name:</label>
                        <input id="firstName" class="form-control" formControlName="firstName" placeholder="First Name">
                    </div>
                    <div class="form-row">
                        <label class="form-label" for="lastName">Last Name:</label>
                        <input id="lastName" class="form-control" formControlName="lastName" placeholder="Last Name">
                    </div>
                    <div class="form-row">
                        <label class="form-label" for="phone">Phone:</label>
                        <input id="phone" class="form-control" formControlName="phone" placeholder="Phone">
                    </div>
                    <div class="form-row">
                        <label class="form-label" for="email">Email:</label>
                        <input id="email" class="form-control" formControlName="email" placeholder="Email">
                    </div>
                </div>


                <div class="section form-container narrow-form text-start">
                    <!-- Hebrew name and parents -->
                    <div class="form-row">
                        <label class="form-label" for="hebrewName">Hebrew Name:</label>
                        <input id="hebrewName" class="form-control" formControlName="hebrewName"
                            placeholder="Hebrew Name">
                    </div>
                    <div class="form-row">
                        <label class="form-label" for="fatherName">Father's name:</label>
                        <input id="fatherName" class="form-control" formControlName="fatherName"
                            placeholder="Father's Name">
                    </div>
                    <div class="form-row">
                        <label class="form-label" for="motherName">Mother's name:</label>
                        <input id="motherName" class="form-control" formControlName="motherName"
                            placeholder="Mother's Name">
                    </div>
                </div>

                <hr>

                <h4 class="text-center">Yartzeits</h4>

                <div *ngIf="addingYartzeit" class="text-start">
                    <app-yartzeit (pushYartzeit)="onYartzeitAdded($event)">
                    </app-yartzeit>
                </div>

                <button *ngIf="!addingYartzeit" type="button"
                    class="btn custom-btn d-flex align-items-center text-center" (click)="addYartzeit()">
                    <i class="bi bi-patch-plus me-2" width="20" height="20" fill="green"></i>
                    <span *ngIf="yartzeits.length > 0">Add Another Yartzeit</span>
                    <span *ngIf="yartzeits.length == 0">Add a Yartzeit</span>
                </button>

                <table *ngIf="yartzeits.length > 0" class="table text-center">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Date</th>
                            <th>Relationship</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let y of yartzeits; let i = index">
                            <td>{{ y.hName }}</td>
                            <td>{{ y.date.day }}/{{ y.date.month }}</td>
                            <td>{{ y.relationship }}</td>
                            <td> <!--todo: add edit button-->
                                <button (click)="removeYartzeit(y)" class="btn btn-danger btn-delete-ytz">
                                    <i class="bi bi-trash3-fill"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <hr>

                <h4 class="text-center">Important Dates</h4>

                <div formGroupName="dob" class="section date-section text-center">
                    <label>Date of birth:</label>
                    <app-hdate (dateChange)="onDobDateChange($event)" [hebrewDay]="dobDayValue"
                        [hebrewMonth]="dobMonthValue">
                    </app-hdate>

                    @if (memberForm.get('gender')?.value == 'MALE') {
                    <div class="form-row">
                        <label class="form-label" for="bmParasha" style="width: auto">Bar Mitzva Parasha:</label>
                        <app-bm-select (parashaSelected)="onParashaSelected($event)"></app-bm-select>
                    </div>
                    }

                </div>

                <div formGroupName="anniversary" class="section date-section text-center">
                    <label>Anniversary: (If applicable)</label>
                    <app-hdate (dateChange)="onAnniversaryDateChange($event)" [hebrewDay]="anniversaryDayValue"
                        [hebrewMonth]="anniversaryMonthValue">
                    </app-hdate>
                </div>

                <input class="form-control text-center" formControlName="spouse" placeholder="Spouse's name"
                    style="width: 250px">

                <div formGroupName="aliya" class="section date-section text-center">
                    Aliya: (If applicable)
                    <app-hdate (dateChange)="onAliyaDateChange($event)" [hebrewDay]="aliyaDayValue"
                        [hebrewMonth]="aliyaMonthValue">
                    </app-hdate>
                </div>

                <hr>

                <div formGroupName="relative" class="relative-heading-container d-flex align-items-center">
                    <input type="checkbox" (change)="onToggleRelative()" id="relativeCheckbox">
                    <label for="relativeCheckbox" class="ms-2" style="font-size: 1.5rem;">Add a second adult</label>
                </div>

                @if (thereIsSecondAdult())
                {
                <div formGroupName="relative" class="relative-section text-start">
                    <div class="section form-container">
                        <div class="form-row">
                            <label class="form-label" for="gender">Please select:</label>
                            <select class="form-control" formControlName="gender" id="gender">
                                <option value="MALE">Male</option>
                                <option value="FEMALE">Female</option>
                            </select>
                        </div>

                        <div class="form-row">
                            <label class="form-label" for="firstName">First Name:</label>
                            <input id="firstName" class="form-control" formControlName="firstName"
                                placeholder="First Name">
                        </div>
                        <div class="form-row">
                            <label class="form-label" for="lastName">Last Name:</label>
                            <input id="lastName" class="form-control" formControlName="lastName"
                                placeholder="Last Name">
                        </div>
                        <div class="form-row">
                            <label class="form-label" for="phone">Phone:</label>
                            <input id="phone" class="form-control" formControlName="phone" placeholder="Phone">
                        </div>
                        <div class="form-row">
                            <label class="form-label" for="email">Email:</label>
                            <input id="email" class="form-control" formControlName="email" placeholder="Email">
                        </div>
                    </div>

                    <div class="section form-container">
                        <!-- Hebrew name and parents -->
                        <div class="form-row">
                            <label class="form-label" for="hebrewName">Hebrew Name:</label>
                            <input id="hebrewName" class="form-control" formControlName="hebrewName"
                                placeholder="Hebrew Name">
                        </div>
                        <div class="form-row">
                            <label class="form-label" for="fatherName">Father's name:</label>
                            <input id="fatherName" class="form-control" formControlName="fatherName"
                                placeholder="Father's Name">
                        </div>
                        <div class="form-row">
                            <label class="form-label" for="motherName">Mother's name:</label>
                            <input id="motherName" class="form-control" formControlName="motherName"
                                placeholder="Mother's Name">
                        </div>
                    </div>

                    <div formGroupName="dob" class="section date-section">
                        <label>Date of birth:</label>
                        <app-hdate (dateChange)="onDobDateRelativeChange($event)" [hebrewDay]="dobDayRelValue"
                            [hebrewMonth]="dobMonthRelValue">
                        </app-hdate>

                        @if (memberForm.get('relative.gender')?.value == 'MALE') {
                        <div class="form-row">
                            <label class="form-label" for="bmParasha" style="width: auto">Bar Mitzva Parasha:</label>
                            <app-bm-select (parashaSelected)="onParashaRelativeSelected($event)"></app-bm-select>
                        </div>
                        }
                    </div>

                    <div formGroupName="aliya" class="section date-section">
                        Aliya: (If applicable)
                        <app-hdate (dateChange)="onAliyaDateRelativeChange($event)" [hebrewDay]="aliyaDayRelValue"
                            [hebrewMonth]="aliyaMonthRelValue">
                        </app-hdate>
                    </div>
                </div>
                }

                <button type="submit" class="btn custom-btn d-flex align-items-center text-center"
                    (click)="addYartzeit()">
                    <i class="bi bi-send me-2" width="20" height="20" fill="green"></i>
                    Submit
                </button>

            </form>
        </div>
    </div>
</div>