<form [formGroup]="memberForm" (ngSubmit)="onSubmit()">

    <h3>Member Registration Form</h3>
    <div class="section form-container">
        <div class="form-row">
            <label class="form-label" for="gender">Please select:</label>
            <select formControlName="gender" id="gender">
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
            </select>
        </div>

        <div class="form-row">
            <label class="form-label" for="firstName">First Name:</label>
            <input id="firstName" formControlName="firstName" placeholder="First Name">
        </div>
        <div class="form-row">
            <label class="form-label" for="lastName">Last Name:</label>
            <input id="lastName" formControlName="lastName" placeholder="Last Name">
        </div>
        <div class="form-row">
            <label class="form-label" for="phone">Phone:</label>
            <input id="phone" formControlName="phone" placeholder="Phone">
        </div>
        <div class="form-row">
            <label class="form-label" for="email">Email:</label>
            <input id="email" formControlName="email" placeholder="Email">
        </div>
    </div>


    <div class="section form-container">
        <!-- Hebrew name and parents -->
        <div class="form-row">
            <label class="form-label" for="hebrewName">Hebrew Name:</label>
            <input id="hebrewName" formControlName="hebrewName" placeholder="Hebrew Name">
        </div>
        <div class="form-row">
            <label class="form-label" for="fatherName">Father's name:</label>
            <input id="fatherName" formControlName="fatherName" placeholder="Father's Name">
        </div>
        <div class="form-row">
            <label class="form-label" for="motherName">Mother's name:</label>
            <input id="motherName" formControlName="motherName" placeholder="Mother's Name">
        </div>
        <div class="form-row">
            <label class="form-label" for="bmParasha">Bar Mitzva Parasha:</label>
            <select style="text-align: center;" formControlName="bmParasha">
                <option disabled value="">Please Select</option>
                @for (parasha of parashot; track parasha) {
                <option [value]="parasha">{{ parasha }}</option>
                }
            </select>
        </div>
    </div>

    <div formGroupName="dob" class="section date-section">
        <label>Date of birth:</label>
        <app-hdate (dateChange)="onDobDateChange($event)" [hebrewDay]="dobDayValue" [hebrewMonth]="dobMonthValue">
        </app-hdate>
    </div>

    <div formGroupName="anniversary" class="section date-section">
        <label>Anniversary: (If applicable)</label>
        <app-hdate (dateChange)="onAnniversaryDateChange($event)" [hebrewDay]="anniversaryDayValue" [hebrewMonth]="anniversaryMonthValue">
        </app-hdate>
    </div>

    <input formControlName="spouse" placeholder="Spouse's name">

    <div formGroupName="aliya" class="section date-section">
        Aliya: (If applicable)
         <app-hdate (dateChange)="onAliyaDateChange($event)" [hebrewDay]="aliyaDayValue" [hebrewMonth]="aliyaMonthValue">
        </app-hdate>
    </div>

    <div class="section">
        checkbox of second adult
        if yes - controls in under relative
    </div>

    <div class="section">
        yartzeits
    </div>

    <button type="submit">Submit</button>
</form>