.select-narrow {
  max-width: 200px;
  width: auto;
  flex: 0 0 auto; /* prevent it from growing */
}

select {
    text-align: center;
    font-weight: bold;
}

.custom-alert{
    color: red;
    font-weight: bold;
}

.eng-date{
    width: fit-content;
    text-align: center;
}

.date-section {
    margin-top: 10px;
    max-width: 250px;
    gap: 10px;
}

.form-pair {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 250px; /* or set a fixed width like 420px if you prefer */
}

.form-pair > * {
  flex: 1; /* Makes each element take equal width */
}

.form-pair .separator {
  flex: none; /* Prevents the separator from growing */
  width: auto;
  text-align: center;
}