.app-container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 200px;
    background: var(--secondary-green);
    color: white;
    padding: 1rem;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    margin: 1rem 0;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sidebar a.active {
    font-weight: bold;
    border-left: 4px solid var(--misty-rose-light);
    padding-left: 8px;
}

.content {
    flex-grow: 1;
    padding: 2rem;
    background: #F5F5F5;
    /*always, regardless of screen size*/
    flex: 1;
    overflow-y: auto;
    /* scroll only content */
    padding: 1rem;
    position: relative;
}

.spinner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.local-spinner .ngx-spinner-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

/* 🔽 Mobile layout adjustments */
@media (max-width: 768px) {
    .app-container {
        flex-direction: column;
        /* stack vertically */
    }

    .sidebar {
        width: 100%;
        padding: 0.5rem;
    }

    .sidebar ul {
        display: flex;
        justify-content: space-around;
    }

    .sidebar li {
        margin: 0;
        /* remove vertical spacing */
    }

    .sidebar a {
        text-align: center;
        display: block;
        padding: 0.5rem 1rem;
        border-left: none;
        /* remove left border on mobile */
    }

    .sidebar a.active {
        border-bottom: 3px solid var(--misty-rose-light);
        border-left: none;
        /* underline active link */
        font-weight: bold;
    }

    .content {
        padding: 0px;
    }

    .version-note {
        display: none;
    }             /* Optional: make it a bit faded */
}
.version-note {
    margin-top: auto;           /* Pushes to the bottom */
    font-size: 0.8rem;          /* Small text */
    color: var(--main-green);               /* White color */
    text-align: center;
    padding: 8px 0;
    opacity: 0.7;  
}