@if (error) {
<div class="custom-alert" role="alert">
    Please fill in all Yartzeit fields
</div>
}

<div class="section form-row align-items-center flex-wrap">
    <label class="form-label">Name: </label>
    <input class="form-control grow" style="width: 150px" [(ngModel)]="name1" placeholder="Name">
    <select class="form-control shrink" style="width: fit-content" [(ngModel)]="benbat">
        <option value="ben" selected>ben</option>
        <option value="bat">bat</option>
    </select>
    <input class="form-control grow" style="width: 150px" [(ngModel)]="name2" placeholder="Father's Name">
</div>

<div class="d-flex flex-column">
    <div class="section date-section me-3 mb-3 mb-md-0 flex-row">
        <label class="form-label">Date of passing: </label>
        <app-hdate [hebrewDay]="hDate.day" [hebrewMonth]="hDate.month" (dateChange)="updateDate($event)">
        </app-hdate>
    </div>

    <div class="section d-flex flex-row align-items-center">
        <label class="form-label" for="otherRelationship">Relationship:</label>

        <select class="form-control select-narrow me-3" [(ngModel)]="relationship">
            <option value="">Select Relationship</option>
            <option value="father">Father</option>
            <option value="mother">Mother</option>
            <option value="grandfather">Grandfather</option>
            <option value="grandmother">Grandmother</option>
            <option value="brother">Brother</option>
            <option value="sister">Sister</option>
            <option value="husband">Husband</option>
            <option value="wife">Wife</option>
            <option value="son">Son</option>
            <option value="daughter">Daughter</option>
            <option value="other">Other</option>
        </select>

        <div *ngIf="relationship === 'other'" class="d-flex flex-row align-items-center">
            <input class="form-control" [(ngModel)]="otherRelationship" placeholder="Please specify">
        </div>
    </div>
</div>

<div class="d-flex section justify-content-center">
    <button type="button" class="btn custom-btn align-items-center" (click)="addYartzeit()">
        <i class="bi bi-check-circle me-2" width="20" height="20" fill="green"></i>
        Add This Yartzeit
    </button>
</div>