body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f6f8;
    margin: 30px;
    padding: 20px;
    color: #333;
}

.table-container {
    max-height: 80vh;
    /* table won’t be taller than 80% of screen */
    overflow-y: auto;
    /* vertical scroll */
}

h2 {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 20px;
}

table {
    width: 80%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    margin: 30px auto;
}

tr:nth-child(even) {
    background-color: var(--very-light-green);
}

tr:hover {
    background-color: var(--main-green);
}

@media (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    th {
        display: none;
    }

    td {
        padding: 10px;
        position: relative;
        padding-left: 50%;
        text-align: right;
    }

    td::before {
        content: attr(data-label);
        position: absolute;
        left: 15px;
        width: 45%;
        padding-right: 10px;
        font-weight: bold;
        text-align: left;
    }
}